/* primary-color-pink-like: #FF6CA8 */
/* primary-color-pink-like: #FF6CA8 */
/* primary-color-pink-like: #FF6CA8 */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* -----------------------    NAVBAR SECTION   ------------------------ */
#navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#navbar nav a {
    font-size: 20px;
    font-family: "Lato Bold", HelveticaNeue-Bold, "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.main-buttons {
    height: 6vh;
    width: 12vw;
    background-color: #FF6CA8;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

#logo {
    width: 12vw;
    height: 10vh;
}

#for-nav-and-btn {
    display: flex;
    align-items: center;
    column-gap: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#navbar div:first-child {
    margin-left: 150px;
}

#navbar div:last-child {
    margin-right: 150px;
}

#nav-items a:hover {
    color:#FF6CA8;
}
/* -----------------------    END OF NAVBAR SECTION   ------------------------ */

/* -----------------------    HERO SECTION   ------------------------ */
#hero-section {
    height: 90vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#hero-section-overlay {
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0%;
    z-index: 20;
}


#donation-section {
    height: 70vh;
    width: 40vw;
    /* background-color: grey; */
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 100;
}

#we-accept-and-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
    margin: 2vh 0 3vh;
}


#continue-to-details {
    width: inherit;
    height: 8vh;
    background-color: #FF6CA8;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

#donation-header {
    font-style: italic;
}

#donation-section p:first-child {
    font-size: 36px; 
    color: white;
    margin: 0;
    padding-bottom: 2vh;
}

#donation-button-section-first {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#donation-buttons-row-1 {
    display: flex;
    column-gap: 10px;
}

#donation-buttons-row-1 button {
    width: 50%;
    height: 10vh;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#donation-buttons-row-1 button:hover {
    background-color: #50A8DB;
    color: white;
}

#donation-buttons-row-2 {
    display: flex;
    column-gap: 10px;
}

#donation-buttons-row-2 button {
    width: 25%;
    height: 10vh;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

#donation-buttons-row-2 button:hover {
    background-color: #50A8DB;
    color: white;
}

#donation-buttons-row-3 input {
    width: 97%; /* Seek for explanation from theodora */
    height: 10vh;
    border-radius: 10px;
    border: none;
}

#donation-section hr {
   margin: 3vh 0; 
}

#know-better-container {
    padding-top: 5vh;
    display: flex;
    column-gap: 1.5vw;
    align-items: center;
    justify-content: center;
}

#know-better-text {
    color: white;
    letter-spacing: 1.5px;
}

#know-better-icon {
    width: 4vw;
    height: 5vh;
}
/* -----------------------    END OF HERO SECTION   ------------------------ */

/* ---------------------  PAGE BOTTOM SECTION MODIFICATION   ------------------- */
#page-bottom-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-bottom-section-with-margin {
    width: 80vw;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
    
}
/* ---------------------  END OF PAGE BOTTOM SECTION MODIFICATION   ------------------- */

/* ---------------------  ABOUT US   ------------------- */
#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: inherit;
    height: 75vh;
}

#about-us-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-us-top h3 {
    font-size: 40px;
    margin: 0;
}

#about-us-top h4 {
    font-size: 20px;
    margin: 0;
    color: rgba(0,0,0,0.7);
    margin-top: 5vh;
}

#about-us-bottom {
    width: 100%;
    height: 55vh;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: flex; */
    align-items: center;
    justify-content: center; 
    column-gap: 20px; 
}

#health {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#health p:first-child {
    font-size: 23px;
    color: white;
}

#health p:last-child {
    font-size: 18px;
}

#health-img-div {
    background-color: #FF6CA8;
    opacity: 0.7;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text-header {
    font-size: 20px;
    font-weight: bold;
}

.about-text-msg {
    color: grey;
}
/* -----------------------    END OF ABOUT US SECTION   ------------------------ */

/* -------------------------    SECOND HERO SECTION    --------------------------- */
#second-hero-section {
    height: 80vh;
    width: inherit;
    position: relative;
}

#second-hero-section-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0vh;
    left: 0vw;
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.5));
}

#second-hero-section-text {
    color: white;
    width: 30vw;
    height: inherit;
    position: absolute;
    top: 0vh;
    left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#second-hero-section-text h3{
    font-size: 40px;
}

#second-hero-section-text p{
    font-size: 20px;
}

#monthly-giver {
    color: #FF6CA8;
    font-size: 60px;
}

#tester {
    margin-top: 3vh;
    line-height: 10px;
    letter-spacing: 2px;
}

#second-hero-video {
    width: inherit;
    height: inherit;
    object-fit: fill;
}

/*  -------------------------------    END OF SECOND HERO SECTION      --------------------------- */

/* --------------------------------    UPCOMMING EVENTS   -------------------------- */
#upcomming-events {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

#upcomming-and-featured {
    width: inherit;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
}

.upcomming-events-img {
    width: 15vw;
    height: 20vh;
}

#fundraiser-for-kids {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
}

#featured-cause-box {
    width: 30vw;
    height: 60vh;
    background-color:#EDF3F5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#featured-cause-box-top {
    display: flex;
    column-gap: 2vw;
}

#featured-cause-box-top img {
    width: 20vw;
    height: 45vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.funds-status {
    width: 100%;
    background-color: #ddd;
    border: 1px solid rgba(0,0,0,0.3);
}

.percentage-box {
    width: 80%;
    background-color:#50A8DB;
    border-radius: 10px;
}

.percentage {
    text-align: right;
    padding: 10px 0;
    color: white;
}

.funds-raised-and-goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(146, 145, 145)
}

.event-feature-text-header p{
    margin-top: 0;
    padding-left: 0;
    color: red;
}

.event-dates {
    color: red;
}

.events-header {
    font-size: 20px;
    padding-left: 10px;
}
/* -------------------------   END OF UPCOMMING EVENTS   ------------------------------ */


/* ----------------   OUR CAUSES   --------------- */
#our-causes {
    width: inherit;
    height: 83vh;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.3)), url(../assets/images/african-children-6.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-header {
        font-size: 40px;
        font-weight: bold;
}

#causes-container {
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.causes-boxes {
    height: inherit;
    width: 25vw;
}

#first-box {
    background-color: white;
    padding-bottom: 2vh;
}
#second-box {
    background-color: white;
    padding-bottom: 2vh;
}
#third-box {
    background-color: white;
    padding-bottom: 2vh;
}

.boxes-top {
    width: inherit;
    height: 50%;
}

.boxes-top img {
    width: inherit;
    height: 100%;
}

.boxes-bottom {
    width: inherit;
    height: 50%;
    padding-left: 2vw;
    padding-bottom: 3vh;
}

.funds-status-for-causes {
    width: 20vw;
    background-color: #ddd;
    border: 1px solid rgba(0,0,0,0.3);
}

.percentage-box-for-causes {
    width: 40%;
    background-color:#50A8DB;
    border-radius: 10px;
}

.percentage-for-causes {
    text-align: right;
    padding: 10px 0;
    color: white;
}

.funds-raised-and-goal-for-causes {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 10vw;
    align-items: center;
    color: rgb(146, 145, 145)
}
/* ----------------  END OF OUR CAUSES   --------------- */

/* ----------------  VOLUNTEER   --------------- */
#volunteer {
    padding: 2vh 0;
    width: inherit;
    height: 40vh;
    background-image: radial-gradient(rgba(0,0,0,0.4) 10%, black, black), url(../assets/images/smiling-african-children-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#volunteer-header {
    font-size: 40px;
}

#volunteer-text {
    font-size: 24px;
}

#join-us-btn {
    width: 150px;
    height: 50px;
    background-color: #FF6CA8;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
/* ----------------  END OF VOLUNTEER   --------------- */

/* ----------------  ACHIEVEMENT   --------------- */
#achievement {
    width: inherit;
    height: 60vh;
}

/* ----------------  END OF ACHIEVEMENT   --------------- */

/* ----------------  FOOTER   --------------- */
#footer {
    width: 100vw;
    height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#footer-top {
    width: 80vw;
    height: 90%; 
    background-image: linear-gradient(rgba(0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('../assets/images/footer-bg.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
}

#footer-bottom {
    height: 10%;
    background-color: black;
}

#first-part {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    column-gap: 5vh;
}
#second-part {
    /* background-color: yellow; */
}
#third-part {
    /* background-color: green; */
}

#socials {
    color: white;
}

.first-part-text {
    font-size: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.footer-headers {
    font-size: 30px;
}

#input-email {
    width: 16vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
}

#logo-at-footer {
    width: 20vw;
}

.placeholders {
    font-size: 16px;
    font-style: italic;
    color: rgba(0,0,0,0.3); 
    padding-left: 1vw;
}
/* ----------------  END OF FOOTER   --------------- */


/* ----- test footer ------- */
